PROXMOX_APITOKEN_ID=root@pam!claude-token
PROXMOX_APITOKEN_SECRET="..."
PROXMOX_HOST=192.168.1.101
PROXMOX_PORT=8006
PROXMOX_SSH_PASSWORD="..."
AWS_ACCESS_KEY_ID="AK..." 
AWS_SECRET_ACCESS_KEY="zdQa..." 
AWS_IAM_ROLE="arn:aws:iam::572412944390:role/TerragruntExecutionRole"