[Unit]
Description=Weekly Proxmox Windows template refresh

[Timer]
OnCalendar={{ proxmox_windows_template_refresh_schedule }}
Persistent=false
Unit=refresh-windows-template.service

[Install]
WantedBy=timers.target
